# Create my version of SET_VELOCITY_LIMIT that limits what the machine can do to what klipper is configured with.
[gcode_macro SET_VELOCITY_LIMIT]
rename_existing: SET_VELOCITY_LIMIT_BASE
gcode:
  {% set cfg = printer.configfile.settings %}
  {% set accel_max = cfg.printer.max_accel|default(10000)|float %}
  {% set velocity_max = cfg.printer.max_velocity|default(700)|float %}
  {% set scv_max = cfg.printer.square_corner_velocity|default(5)|float %}

  {% set orig_accel = params.ACCEL|default(accel_max)|float %}
  {% set orig_accel_to_decel = params.ACCEL_TO_DECEL|default(orig_accel)|float %}
  {% set orig_velocity = params.VELOCITY|default(velocity_max)|float %}
  {% set orig_scv = params.SQUARE_CORNER_VELOCITY|default(scv_max)|float %}

  # Clamp values
  {% set accel = orig_accel if orig_accel <= accel_max else accel_max %}
  {% set accel_to_decel = orig_accel_to_decel if orig_accel_to_decel <= accel_max else accel_max %}
  {% set velocity = orig_velocity if orig_velocity <= velocity_max else velocity_max %}
  {% set scv = orig_scv if orig_scv <= scv_max else scv_max %}

  # Log only if any values were clamped
  {% if printer.gcode and (
        accel != orig_accel or 
        accel_to_decel != orig_accel_to_decel or 
        velocity != orig_velocity or 
        scv != orig_scv) %}
    {action_respond_info("SET_VELOCITY_LIMIT clamped: "
                         ~ "ACCEL=" ~ accel ~ 
                         ", ACCEL_TO_DECEL=" ~ accel_to_decel ~ 
                         ", VELOCITY=" ~ velocity ~ 
                         ", SCV=" ~ scv)}
  {% endif %}

  SET_VELOCITY_LIMIT_BASE ACCEL={accel} VELOCITY={velocity} SQUARE_CORNER_VELOCITY={scv}


[gcode_macro TIMELAPSE_TAKE_FRAME]
description: Disabled timelapse macro that safely ignores slicer calls
gcode:
  # Timelapse disabled; ignoring slicer request


[gcode_macro GET_VELOCITY_LIMIT]
description: Get current motion velocity limits
gcode:
    {% set limits = printer.toolhead %}
    RESPOND PREFIX="VELOCITY_LIMIT" MSG="ACCEL={limits.max_accel} ACCEL_TO_DECEL={limits.max_accel_to_decel|default('N/A')} VELOCITY={limits.max_velocity} SCV={limits.square_corner_velocity}"


[gcode_macro M600]
description: Filament change
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 Z{Z} F900
    G90
    G1 X{X} Y{Y} F6000
    RESTORE_GCODE_STATE NAME=M600_state
